JBOSS_HOME={{ WILDFLY_DIR }}
JBOSS_USER={{ WILDFLY_USER }}
WILDFLY_HOME={{ WILDFLY_DIR }}
WILDFLY_USER={{ WILDFLY_USER }}
STARTUP_WAIT={{ WILDFLY_STARTUP_TIMEOUT }}
SHUTDOWN_WAIT={{ WILDFLY_SHUTDOWN_TIMEOUT }}
WILDFLY_CONFIG={{ WILDFLY_MODE }}.xml
WILDFLY_MODE={{ WILDFLY_MODE }}
WILDFLY_BIND={{ WILDFLY_BIND }}
